.top-buttons-container {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-right-group {
    display: flex;
}

.dropdown {
    background-color: $buttonBG;
    color: $buttonText;
    border: none;
    // border: 2px solid $buttonText;
    border-radius: 0.5rem;
    font-size: large;
    font-weight: bold;
    width: 13rem;
    height: 4rem;
}

.logout-button {
    width: 4rem;
    margin-left: 1rem;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar {
    background-color: antiquewhite;
    color: inherit;
    font-size: inherit;
    border: none;
    border-radius: 0.5rem;
    min-width: 40%;
    height: 2.5rem;
    margin-bottom: 1rem;
    text-indent: 0.2rem;
}

.search-bar:focus {
    outline: none;
}

.dropdown:focus {
    background-color: $buttonBG;
    outline: none;
}

.dropdown:hover {
    background-color: $buttonBGHover;
    color: $buttonTextHover;
}

.dropdown:hover:focus {
    background-color: $buttonBG;
    color: $buttonText;
}

option:hover {
    -webkit-background-origin: none;
    background-origin: none;
    background-color: $buttonBGHover;
    color: red;
}   

@media (max-width: $mobile-bp) {
    .search-bar {
        min-width: 100%;
    }
}