.header {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dropdown {
    background-color: $buttonBG;
    color: $buttonText;
    border: none;
    // border: 2px solid $buttonText;
    border-radius: 0.5rem;
    font-size: large;
    font-weight: bold;
    width: 13rem;
    height: 4rem;
}

.dropdown:focus {
    background-color: $buttonBG;
    outline: none;
}

.dropdown:hover {
    background-color: $buttonBGHover;
    color: $buttonTextHover;
}

.dropdown:hover:focus {
    background-color: $buttonBG;
    color: $buttonText;
}

option:hover {
    -webkit-background-origin: none;
    background-origin: none;
    background-color: $buttonBGHover;
    color: red;
}   