// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;

html {
    font-size: 62.5%;
}

body {
    font-family:'Trebuchet MS', Arial, sans-serif;
    font-size: $m-size;
}

.list-row {
    font-size: $m-size;
    min-height: 3.6rem;
    margin-bottom: 0.6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.list-row-item {
    display: flex;
    flex-direction: row;

    p {
        white-space: pre-line;
        margin: 0 0 0 0;
        padding: 0.8rem 1rem 0 1rem; 
    }
    
    .list-row-item-date {
        padding: 0.5rem 0 0 1rem;
        font-size: $s-size;
        color: gray;
    }

    button {
        padding: 0 0 0 0;
        height: $l-size;
        width: $l-size;
        font-size: $m-size;
    }

    button:hover {
        color: rgb(103, 100, 100);
    }

    input {
        height: $l-size;
    }
}

.rodal-dialog {
    max-width: 85%;
}

.modal-form {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:end;
}

.modal-button-container {
    text-align: right;
}

.modal-button {
    width: 5.8rem;
}

.modal-input {
    box-sizing: border-box;
    resize: none;
    min-height: 100%;
    flex-grow: 100;
    margin-bottom: 2rem;
}