html {
    font-size: 62.5%;
}

body {
    font-family:'Trebuchet MS', Arial, sans-serif;
    font-size: $m-size;
    font-weight: 600;
    background-color: $darkBG;
    color: $text;
}

.homepage {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 7rem;
}

button {
    background-color: $buttonBG;
    color: $buttonText;
    border: none;
    // border: 1px solid white;
    // border-color: $buttonText;
    border-radius: 0.5rem;
    font-size: large;
    font-weight: bold;
    width: 10rem;
    height: 4rem;
    cursor: pointer;
}

button:hover {
    background-color: $buttonBGHover;
    color: $buttonTextHover;
    border-color: white;
}