// Colors
$lavender: #E3EBFF;
$cinnabar: #DC493A;
$powderBlue: #B7D5D4;
$grannyApple: #B3EFB2;
$dimGray: #6F6866;
$cadetBlue: #B5BAD0;
$custom: #b8cfb8;
//
$background:  #7389AE;
$app: #B5BAD0;
$list:#E0E0E2;

// $modal: #404c74;
// rgb(219, 219, 227); 232
//rgb(238, 245, 117);
$text: rgb(34, 34, 34);
$darkBG: darken($background, 40%);
$darkApp: darken($app, 40%);
$darkList: darken($list, 20%);
$buttonBG: lighten($darkApp, 30%);
$buttonBGHover: lighten($darkApp, 35%);
$buttonText: antiquewhite;//rgb(117, 245, 200);
$buttonTextHover: white;//darken($buttonText, 10%);


// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-bp: 90rem;
$mobile-bp: 45rem;