// Colors
$lavender: #E3EBFF;
$cinnabar: #DC493A;
$powderBlue: #B7D5D4;
$grannyApple: #B3EFB2;
$dimGray: #6F6866;
$cadetBlue: #B5BAD0;
$custom: #b8cfb8;
//
$background:  #7389AE;
$app: #B5BAD0;
$list:#E0E0E2;
$button: rgba(50, 124, 77, 0.85);
$buttonText: rgb(219, 219, 227);
$modal: #404c74;

$darkBG: darken(#7389AE, 40%);
$darkApp: darken(#B5BAD0, 40%);
$darkList: darken(#E0E0E2, 20%);



// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;